<div class="tab-pane active" id="profile">
		<div class="control-group">
			<%= f.label :photos %>
			<div class="controls">
			<%= f.text_field :photos %> 
			</div>
		</div>

	<!-- if female, display female form -->
	<% if current_user.gender == "female" %>

		<div class="control-group">
			<%= f.label :height %>
			<div class="controls">
				<%= f.text_field :height %> 
			</div>
		</div>
			
		<div class="control-group">
			<%= f.label :bust %>
			<div class="controls">
			<%= f.text_field :bust %> 
			</div>
		</div>
			
		<div class="control-group">
			<%= f.label :waist %>
			<div class="controls">
			<%= f.text_field :waist %> 
			</div>
		</div>

		<div class="control-group">
			<%= f.label :hips %>
			<div class="controls">
			<%= f.text_field :hips %> 
			</div>
		</div>

		<div class="control-group">
			<%= f.label :shoes %>
			<div class="controls">
			<%= f.text_field :shoes %> 
			</div>
		</div>

		<div class="control-group">
			<%= f.label :eyes %>
			<div class="controls">
			<%= f.text_field :eyes %> 
			</div>
		</div>

		<div class="control-group">
			<%= f.label :hair %>
			<div class="controls">
			<%= f.text_field :hair %> 
			</div>
		</div>

	<!-- if not female, then display male form -->
	<% else %>

		<div class="control-group">
			<%= f.label :height %>
			<div class="controls">
				<%= f.text_field :height %> 
			</div>
		</div> 
		
		<div class="control-group">
			<%= f.label :suit %>
			<div class="controls">
			<%= f.text_field :suit %> 
			</div>
		</div>
			
		<div class="control-group">
			<%= f.label :waist %>
			<div class="controls">
			<%= f.text_field :waist %> 
			</div>
		</div>
		
		<div class="control-group">
			<%= f.label :inseam %>
			<div class="controls">
			<%= f.text_field :inseam %> 
			</div>
		</div>  

		<div class="control-group">
			<%= f.label :shoes %>
			<div class="controls">
			<%= f.text_field :shoes %> 
			</div>
		</div>

		<div class="control-group">
			<%= f.label :eyes %>
			<div class="controls">
			<%= f.text_field :eyes %> 
			</div>
		</div>

		<div class="control-group">
			<%= f.label :hair %>
			<div class="controls">
			<%= f.text_field :hair %> 
			</div>
		</div>	
		
	<% end %>
</div>

<div class="tab-pane" id="contact">
	<div class="control-group">
		<%= f.label :phone %>
		<div class="controls">
		<%= f.text_field :phone %> 
		</div>
	</div>

	<div class="control-group">
		<%= f.label :facebook %>
		<div class="controls">
		<%= f.text_field :facebook %> 
		</div>
	</div>
</div>