<p id="notice"><%= notice %></p>
 

<p>
  <b>Height:</b>
  <%= @profile.height %>
</p>

<p>
  <b>Bust:</b>
  <%= @profile.bust %>
</p>

<p>
  <b>Waist:</b>
  <%= @profile.waist %>
</p>

<p>
  <b>Hips:</b>
  <%= @profile.hips %>
</p>

<p>
  <b>Shoes:</b>
  <%= @profile.shoes %>
</p>

<p>
  <b>Eyes:</b>
  <%= @profile.eyes %>
</p>

<p>
  <b>Hair:</b>
  <%= @profile.hair %>
</p>

<p>
  <b>Phone:</b>
  <%= @profile.phone %>
</p>

<p>
  <b>Facebook:</b>
  <%= @profile.facebook %>
</p>

<p>
  <b>Suit:</b>
  <%= @profile.suit %>
</p>

<p>
  <b>Inseam:</b>
  <%= @profile.inseam %>
</p>

<p>
  <b>Photos:</b>
  <%= @profile.photos %>
</p>


<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
